.mobile_menu {
  display: none;
}
.desktop_menu {
  display: flex;
}

@media screen and (max-width: 800px) {
  .mobile_menu {
    display: block;
  }
  .desktop_menu {
    display: none;
  }
}


/* styles.css */
.toastify-custom {
  background: rgba(255, 255, 255, 0.2); /* Transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px; /* Border radius */
  color: #000; /* Text color */
}