.mobile_menu {
  display: none;
}
.desktop_menu {
  display: flex;
}

@media screen and (max-width: 800px) {
  .mobile_menu {
    display: block;
  }
  .desktop_menu {
    display: none;
  }
}


/* styles.css */
.toastify-custom {
  background: rgba(255, 255, 255, 0.2); /* Transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px; /* Border radius */
  color: #000; /* Text color */
}
/* ToastNotification.css */
.toastify {
  background: rgba(255, 255, 255, 0.7) !important;
  border-radius: 10px !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333 !important;
}


.loader {
  margin-top: 20px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar-fill {
  height: 20px;
  background-color: #000000;
  transition: width 0.4s ease;
}
