@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Satoshi;
    /* background: black; */
  }
  article {
    margin: 0;
    margin-left: 0;
  }
  @font-face {
    font-family: Satoshi;
    src: url(../public/Satoshi-Regular.ttf);
  }
  button, select {
    width: fit-content;
    padding: 0.625rem 1.2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: white;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: 300ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    background: #1f2937;
  }
  button, select:hover {
    /* background: rgb(0, 0, 0); */
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    color: rgb(255, 255, 255);
    border-color: transparent;
  }
  button, select:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 0.8;
  }
  h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.7rem;
  }
  p {
    margin: 0;
  }
  input {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: transparent;
    padding: 10px;
    color: rgb(0, 0, 0);
    width: 30vw;
  }
  textarea {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    background: transparent;
    padding: 10px;
    width: 70vw;
    height: 30vh;
  }
  textarea:focus{
    border: none;
  }
  label{
    font-weight: 900;
    font-size:larger
    ;
  }
  .dropdown{
    background: #1f293780;
    backdrop-filter: blur(30px);
  }
  /* select {
    background: black;
    color: white;
  } */

  @media screen and (max-width: 800px) {
    input {
      width: 80%;
    }
    textarea {
      width: 80%;
    }
  }
}
